<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>浮夸的控制台</title>
	<base href="pompousConsole/">
	<script type="text/javascript" src="dist/libs.js"></script>
	<script type="text/javascript" src="dist/main.js"></script>
</head>
<body>
	<h1 hidden>浮夸的控制台主页</h1>
	<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li><a id="mtime">时钟显示位置</a></li>
                <li><a id="mdate">日历显示位置</a></li>
            </ul>
        </div></div>
        <span class="uk-navbar-item uk-logo">德付通logo位置</span>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a>北京亚科技术开发有限责任公司</a></li>
            </ul>
        </div></div>
    </div>
</nav>
</body>
</html>